$grid-gap-value: 24px;
$background-color: #fff;
$background-color-dark: #313e4c;
$background-color-grey: #d3dbe4;
$primary-color: #1976d2;
$primary-border-color: rgba(25, 118, 210, 0.5);
$border-color: #e1e4e8;
